<% provide(:title, 'Test') %>

<div class="order">
				<div class="row">
					<div class="span3 " >
						<p>3 Clinics found</p>
					</div>
					<div class="span3 offset1" >
					<label  >within</label>
						<select>
						  <option>Select 1</option>
						  <option>Select 2</option>
						</select>
					</div>
					<div class="span3" >
					<label  >sort by</label>
						<select>
							<option>Select 1</option>
							<option>Select 2</option>
						</select>
					</div>
				</div>
				<hr>
			</div>
			<div class="jumbotron">
				<div class="row">
					<div class="span3 clinic-img" >
						<div class="img">
							<img src="http://habrastorage.org/getpro/habr/post_images/f94/6ff/9d3/f946ff9d393192387b79d5079b4405af.png"/>
						</div>
					</div>
					<div class="span4 clinic-descr" >
							<div class="title">Nashville Imaging Center</div>
							<div class="adr">423 Westroad St. Nashville, TN 37203</div>
							<div class="tel">615-327-9550</div>
							<div class="within" >8 miles</div>
					</div>
					<div class="span2 clinic-price" >
						<div class="pprice center" >$700.0
						<button type="submit" class="btn btn-primary btn-price">Learn more >></button></div>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<div class="row">
					<div class="span3 clinic-img" >
						<div class="img">
							<img src="http://habrastorage.org/getpro/habr/post_images/f94/6ff/9d3/f946ff9d393192387b79d5079b4405af.png"/>
						</div>
					</div>
					<div class="span4 clinic-descr" >
							<div class="title">Nashville Imaging Center</div>
							<div class="adr">423 Westroad St. Nashville, TN 37203</div>
							<div class="tel">615-327-9550</div>
							<div class="within" >8 miles</div>
					</div>
					<div class="span2 clinic-price" >
						<div class="pprice center" >$700.0
						<button type="submit" class="btn btn-primary btn-price">Learn more >></button></div>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<div class="row">
					<div class="span3 clinic-img" >
						<div class="img">
							<img src="http://habrastorage.org/getpro/habr/post_images/f94/6ff/9d3/f946ff9d393192387b79d5079b4405af.png"/>
						</div>
					</div>
					<div class="span4 clinic-descr" >
							<div class="title">Nashville Imaging Center</div>
							<div class="adr">423 Westroad St. Nashville, TN 37203</div>
							<div class="tel">615-327-9550</div>
							<div class="within" >8 miles</div>
					</div>
					<div class="span2 clinic-price" >
						<div class="pprice center" >$700.0
						<button type="submit" class="btn btn-primary btn-price">Learn more >></button></div>
					</div>
				</div>
			</div>
		<hr>
    </div>